<mat-form-field appearance="outline" class="search-textfield-input">
    <mat-label>Search</mat-label>
    <input 
        matInput 
        type="text" 
        placeholder="Search" 
        name="search" 
        [(ngModel)]="searchText"
        (keyup.enter)="handleEnterKeyPressed()" />
        <mat-icon 
            class="search-textfield-button" 
            matSuffix 
            (click)="handleButtonClicked()">
            <i class="material-symbols-outlined">search</i>           
        </mat-icon>
</mat-form-field>