<h2>Stock</h2>
<app-search-textfield (searchTriggered)="handleSearchTriggered($event)" />
<ul class="home-horizontal-list">
    <li>
        <button mat-flat-button (click)="handlePreviousClicked()">Previous</button>
    </li>
    @for (item of numberList; track item) {
    <li>
        <button mat-flat-button [color]="currentPage === item ? 'primary' : ''" (click)="handleChangeCurrentPage(item)">{{ item }}</button>
    </li>
    }
    <li> 
        <button mat-flat-button (click)="handleNextClicked()">Next</button>
    </li>
</ul>
<div class="home-stock-card-grid">
    @for (item of recordList; track item.id) {
    <app-product-card [id]="item.id" [name]="item.name" [description]="item.description" [price]="item.price"
        [stock]="item.stock" [imagehref]="item.imagehref" [lastModified]="item.lastModified"
        [createdDate]="item.createdDate" [isDeleted]="item.isDeleted" />
    }
</div>